body {
  font-family: "Raleway", sans-serif;
  background-color: #f9f9f9;
}
h1 {
  font-size: 112px;
  font-weight: 600;
}
h2 {
  font-size: 48px;
}
p {
  font-size: 18px;
  color: #7b7b7b;
  line-height: 28px;
  padding: 0;
  margin: 0;
}
form {
  display: flex;
}
a {
  color: #53bbf3;
  text-decoration: none;
}
a:hover {
  color: #53bbf3;
  text-decoration: underline;
}

.weather-app {
  max-width: 1000px;
}
.temp-selected {
  font-weight: 600;
  color: #53bbf3;
  text-decoration: none;
  pointer-events: none;
}
.temp-selected:hover {
  font-weight: 600;
  color: #53bbf3;
  text-decoration: none;
}
.temp-unselected {
  font-weight: 300;
  color: #7b7b7b;
  text-decoration: none;
}
.temp-unselected:hover {
  color: #53bbf3;
  text-decoration: none;
}
.city-name {
  font-weight: 600;
  color: #53bbf3;
}
.country-name {
  font-weight: 300;
  color: #7b7b7b;
}
.current-date {
  color: #4a4a4a;
  text-align: left;
  padding: 0;
}
.current-description::first-letter {
  text-transform: capitalize;
}
.current-temp {
  color: #53bbf3;
  font-size: 132px;
  text-align: right;
  padding-top: 0;
}
.current-high {
  color: #4a4a4a;
  text-align: center;
}
.current-low {
  color: #7b7b7b;
  text-align: center;
}
.forecast-header {
  color: #7b7b7b;
  font-size: 32px;
  font-weight: 300;
}
.forecast {
  text-align: center;
  padding-bottom: 32px;
}
.forecast-date {
  color: #7b7b7b;
}
.forecast-graphic {
  display: block;
  margin: 0 auto;
  width: 72px;
}
.forecast-high {
  font-weight: 400;
  color: #4a4a4a;
}
.forecast-low {
  font-weight: 400;
  color: #7b7b7b;
}
.vert {
  max-width: 1px;
}
.footer {
  margin: 16px 0;
}
