body {
  font-family: "Raleway", sans-serif;
  background-color: #f9f9f9;
}
h1 {
  font-size: 112px;
  font-weight: 600;
}
h2 {
  font-size: 48px;
}
p {
  font-size: 18px;
  text-align: center;
}

form {
  display: flex;
}
.weatherApp {
  max-width: 1000px;
}
.tempSelected {
  font-weight: 600;
  color: #53bbf3;
  text-decoration: none;
  pointer-events: none;
}
.tempSelected:hover {
  font-weight: 600;
  color: #53bbf3;
  text-decoration: none;
}
.tempUnselected {
  font-weight: 300;
  color: #7b7b7b;
  text-decoration: none;
}
.tempUnselected:hover {
  color: #53bbf3;
  text-decoration: none;
}
.cityName {
  font-weight: 600;
  color: #53bbf3;
}
.countryName {
  font-weight: 300;
  color: #7b7b7b;
}
.currentDate {
  color: #7b7b7b;
  text-align: left;
}
.currentTemp {
  color: #53bbf3;
  text-align: right;
  padding-top: 0;
}
.currentHigh {
  color: #4a4a4a;
  text-align: center;
}
.currentLo {
  color: #7b7b7b;
  text-align: center;
}
.forecast {
  color: #7b7b7b;
  font-size: 32px;
  font-weight: 300;
}
.forecastDate {
  color: #7b7b7b;
  text-align: center;
}
.forecastGraphic {
  display: block;
  margin: 0 auto;
  width: 72px;
}
.forecastHigh {
  font-weight: 400;
  color: #4a4a4a;
  text-align: center;
}
.forecastLo {
  font-weight: 400;
  color: #7b7b7b;
  text-align: center;
}
.vert {
  max-width: 1px;
}
